@font-face {
  font-family: "SourceSans3-Regular";
  src: url("../fonts/SourceSans3-Regular.woff2") format("woff2"),
    url("../fonts/SourceSans3-Regular.woff") format("woff"),
    url("../fonts/SourceSans3-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-Medium";
  src: url("../fonts/SourceSans3-Medium.woff2") format("woff2"),
    url("../fonts/SourceSans3-Medium.woff") format("woff"),
    url("../fonts/SourceSans3-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-SemiBold";
  src: url("../fonts/SourceSans3-SemiBold.woff2") format("woff2"),
    url("../fonts/SourceSans3-SemiBold.woff") format("woff"),
    url("../fonts/SourceSans3-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3-Bold";
  src: url("../fonts/SourceSans3-Bold.woff2") format("woff2"),
    url("../fonts/SourceSans3-Bold.woff") format("woff"),
    url("../fonts/SourceSans3-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay-Black";
  src: url("../fonts/PlayFairDisplay-Black.woff2") format("woff2"),
    url("../fonts/PlayFairDisplay-Black.woff") format("woff"),
    url("../fonts/PlayFairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay-Bold";
  src: url("../fonts/PlayFairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayFairDisplay-Bold.woff") format("woff"),
    url("../fonts/PlayFairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "PlayFairDisplay-Regular";
  src: url("../fonts/PlayFairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayFairDisplay-Regular.woff") format("woff"),
    url("../fonts/PlayFairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
